<form class="form-signin" ng-submit="login(user)">
	<h2 class="form-signin-heading">Please sign in</h2>
	<label for="inputLogin" class="sr-only">Login</label>
	<input type="text" id="inputLogin" class="form-control" placeholder="Login" ng-model="user.login" required autofocus />
	<label for="inputPassword" class="sr-only">Password</label>
	<input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="user.password" required />
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>